:root {
  --Ga0: #F6F7F8;
  --Ga0_s: #F6F7F8;
  --Ga0_t: #F6F7F8;
  --Ga1: #F1F2F3;
  --Ga1_s: #F1F2F3;
  --Ga1_t: #F1F2F3;
  --Ga1_e: #F1F2F3;
  --Ga2: #E3E5E7;
  --Ga2_t: #E3E5E7;
  --Ga3: #C9CCD0;
  --Ga3_t: #C9CCD0;
  --Ga4: #AEB3B9;
  --Ga4_t: #AEB3B9;
  --Ga5: #9499A0;
  --Ga5_t: #9499A0;
  --Ga6: #797F87;
  --Ga6_t: #797F87;
  --Ga7: #61666D;
  --Ga7_t: #61666D;
  --Ga8: #484C53;
  --Ga8_t: #484C53;
  --Ga9: #2F3238;
  --Ga9_t: #2F3238;
  --Ga10: #18191C;
  --Ga10_t: #18191C;
  --Ga11: #FFFFFF;
  --Ga12: #F1F2F3;
  --Wh0: #FFFFFF;
  --Wh0_t: #FFFFFF;
  --Ba0: #000000;
  --Ba0_s: #000000;
  --Ba0_t: #000000;
  --Pi0: #FFF3F6;
  --Pi1: #FFECF1;
  --Pi2: #FFD9E4;
  --Pi3: #FFB3CA;
  --Pi4: #FF8CB0;
  --Pi5: #FF6699;
  --Pi5_t: #FF6699;
  --Pi6: #E84B85;
  --Pi7: #D03171;
  --Pi8: #AD1C5B;
  --Pi9: #771141;
  --Pi10: #3F0723;
  --Ma0: #FEF3FC;
  --Ma1: #FDEBFA;
  --Ma2: #FBD7F4;
  --Ma3: #F7AEEB;
  --Ma4: #F286E2;
  --Ma5: #EE5DDB;
  --Ma6: #DA41CB;
  --Ma7: #C525BA;
  --Ma8: #9B1797;
  --Ma9: #670F67;
  --Ma10: #330834;
  --Re0: #FEF3F2;
  --Re1: #FEECEA;
  --Re2: #FDD7D4;
  --Re3: #FCAFAA;
  --Re4: #FA857F;
  --Re5: #F85A54;
  --Re6: #E23D3D;
  --Re7: #C9272C;
  --Re8: #9F1922;
  --Re9: #710E18;
  --Re10: #3B060D;
  --Or0: #FFF6EE;
  --Or1: #FFF0E3;
  --Or2: #FFE1C7;
  --Or3: #FFC18F;
  --Or4: #FFA058;
  --Or5: #FF7F24;
  --Or6: #E95B03;
  --Or7: #BB4100;
  --Or8: #8D2D00;
  --Or9: #5E1B00;
  --Or10: #2F0C00;
  --Ye0: #FFFAEF;
  --Ye1: #FFF6E4;
  --Ye2: #FFEEC9;
  --Ye3: #FFDB93;
  --Ye4: #FFC65D;
  --Ye5: #FFB027;
  --Ye6: #E58900;
  --Ye7: #B76800;
  --Ye8: #8A4A00;
  --Ye9: #5B2E00;
  --Ye10: #2F1600;
  --Ly0: #FFFCEC;
  --Ly1: #FFFADF;
  --Ly2: #FFF5BF;
  --Ly3: #FFEA80;
  --Ly4: #FFDC40;
  --Ly5: #FFCC00;
  --Ly6: #D5A300;
  --Ly7: #AA7D00;
  --Ly8: #805A00;
  --Ly9: #553900;
  --Ly10: #2B1B00;
  --Lg0: #F7FBEF;
  --Lg1: #F2F9E4;
  --Lg2: #E3F2C8;
  --Lg3: #C7E691;
  --Lg4: #A9D95B;
  --Lg5: #88CC24;
  --Lg6: #66B105;
  --Lg7: #4E8E04;
  --Lg8: #376A03;
  --Lg9: #224702;
  --Lg10: #102301;
  --Gr0: #EFFBF3;
  --Gr1: #E4F8EA;
  --Gr2: #CAF1D6;
  --Gr3: #95E4AF;
  --Gr4: #5FD689;
  --Gr5: #2AC864;
  --Gr6: #0EB350;
  --Gr7: #089043;
  --Gr8: #046E35;
  --Gr9: #034926;
  --Gr10: #012414;
  --Cy0: #EDFBFB;
  --Cy1: #E2F8F8;
  --Cy2: #C4EFF0;
  --Cy3: #89E1E1;
  --Cy4: #4FD3D1;
  --Cy5: #14C4BF;
  --Cy6: #02AAAA;
  --Cy7: #018488;
  --Cy8: #015F66;
  --Cy9: #013D44;
  --Cy10: #001D22;
  --Lb0: #ECFAFE;
  --Lb1: #DFF6FD;
  --Lb2: #BFEDFA;
  --Lb3: #80DAF6;
  --Lb4: #40C5F1;
  --Lb5: #00AEEC;
  --Lb6: #008AC5;
  --Lb7: #00699D;
  --Lb8: #004B76;
  --Lb9: #002F4F;
  --Lb10: #001627;
  --Bl0: #F3F5FF;
  --Bl1: #EBEFFF;
  --Bl2: #D7DFFF;
  --Bl3: #B0C1FF;
  --Bl4: #88A4FF;
  --Bl5: #6188FF;
  --Bl6: #4C6DE4;
  --Bl7: #3752C8;
  --Bl8: #2136AC;
  --Bl9: #121F7F;
  --Bl10: #080D41;
  --Pu0: #F9F4FF;
  --Pu1: #F6EDFF;
  --Pu2: #EDDBFF;
  --Pu3: #D8B6FF;
  --Pu4: #C392FF;
  --Pu5: #AC6DFF;
  --Pu6: #8F56E4;
  --Pu7: #723ECC;
  --Pu8: #5627B3;
  --Pu9: #371683;
  --Pu10: #190A44;
  --Br0: #FAF8F6;
  --Br1: #F7F3F0;
  --Br2: #EFE7E0;
  --Br3: #E0CFC1;
  --Br4: #D0B7A3;
  --Br5: #C19D84;
  --Br6: #A5816A;
  --Br7: #856553;
  --Br8: #634A3E;
  --Br9: #423029;
  --Br10: #211815;
  --Si0: #F9FBFC;
  --Si1: #F5F7FA;
  --Si2: #EBEFF4;
  --Si3: #D7E0EA;
  --Si4: #C3D0DF;
  --Si5: #AFC0D5;
  --Si6: #8D9FB9;
  --Si7: #6D7F9C;
  --Si8: #4D5D7C;
  --Si9: #323D54;
  --Si10: #191E2B
}

:root {
    --vp-c-brand: var(--Pi5) !important;
    --vp-c-brand-lighter: var(--Pi4) !important;
    --vp-button-brand-hover-bg: var(--Pi4) !important;
    --vp-button-brand-active-bg: var(--Pi6) !important;
    --vp-badge-tip-border: var(--Pi4) !important;
    --vp-badge-tip-text: var(--Pi5) !important;
    --vp-badge-tip-bg: var(--Pi1) !important;
    --vp-c-text-light-1: var(--Ga10) !important;
    --vp-c-text-light-2: var(--Ga7) !important;
    --vp-c-text-light-3: var(--Ga4) !important;
    --vp-c-bg-soft-down: var(--Ga2) !important;
    --vp-custom-block-tip-border: var(--Pi4) !important;
    --vp-custom-block-tip-text: var(--Pi5) !important;
    --vp-custom-block-tip-bg: var(--Ga11) !important;
}